body {
  font-family: bahnschrift;
  background-color: rgb(33, 33, 33);
  color: white;
}

.inputElements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputElement {
  color: black;
  padding: 15px;
  border-radius: 20px;
  border: 0;
  width: 120px;
}

.simple-button {
  padding: 15px;
  border-radius: 10px;
  border: 0;
}

.simple-button:active {
  box-shadow: 3px 7px 7px rgb(0, 0, 0, 0.5);
}
